$include /etc/inputrc

set keyseq-timeout 1
set editing-mode vi
set show-mode-in-prompt on

set vi-cmd-mode-string "\1\e[1 q\2"
set vi-ins-mode-string "\1\e[5 q\2"

$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
j: history-search-forward
k: history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif

set show-all-if-ambiguous on

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

#set echo-control-characters off

## see `bind -p`
"\C-k": history-search-backward
"\C-j": history-search-forward
"\C-x": kill-whole-line
"\C-y": clear-screen

"\C-o": "lf\r"

"\es": "\eOHsudo \eOF"
"\ew": "\eOHwhile :; do \eOF ; done\e[1;5D\eOD\eOD\eOD"
"\ef": "\eOF &>/dev/null & disown"
"\em": "\eOHman \eOF"
"\et": "\eOHtime \eOF"
