snippet shell "this is a test" b
/* Current time is: `date` Note: ${1:description} */
Another Test $2
$0
endsnippet
snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
snippet test "Description" b
`!p snip.rv = '/' + '/' * (len(t[1]) + 2) + '/'`
/ $1 /
`!p snip.rv = '/' + '/' * (len(t[1]) + 2) + '/'`
$0
endsnippet
